/* 自定义全局文件，用来重写样式 */

/* 通用的焦点样式重置 */
*:focus,
*:focus-visible {
    outline: none;
    --tw-ring-color: transparent;
    --tw-ring-offset-width: 0px;
}

/* 简化重复规则 */
.focus\:ring-offset-2:focus,
.focus-visible\:ring-offset-2:focus-visible {
    --tw-ring-offset-width: 0px;
    --tw-ring-color: transparent;
}

.focus\:ring-ring:focus,
.focus-visible\:ring-ring:focus-visible {
    --tw-ring-color: transparent;
}

/*调整选择框大小*/
button[role="combobox"] {
    padding-top: 0;
    padding-bottom: 0;
    height: 2.2rem;
}

input[role="spinbutton"] {
    padding-top: 0;
    padding-bottom: 0;
    height: 2.2rem;
}